
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <a href="~/"><img src="~/Public/user/img/camprohd.png" alt="Campro" /></a>
                            <p>Công ty cổ phần viễn thông Campro nỗ lực làm Quý Khách hàng hài lòng trên cơ sở hiểu biết sâu sắc và đáp ứng một cách tốt nhất nhu cầu của Quý Khách hàng với lòng tận tụy và năng lực không ngừng được nâng cao.</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>Follow us</h2>
                            <ul class="flow-us-link">
                                <li><a href="https://www.facebook.com/profile.php?id=61555989090992"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/fpttelecomhcmdotcom/"><i class="fa-brands fa-pinterest"></i></a></li>
                                <li><a href="https://www.youtube.com/lims2627"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="https://www.tiktok.com/search?q=fpt%20telecom&t=1712127119293"><i class="fa-brands fa-tiktok"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Về chúng tôi</h2>
                                        @Html.Action("ListPage","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="tel:0762884181"><i class="fa fa-angle-double-right"></i>Tổng đài hỗ trợ kỹ thuật: 0762.884.181</a></li>
                                            <li><a href="mailto:siltv3665@gmail.com.vn?subject=Phản hồi về:&body=Xin vui lòng trình bày rõ vấn đề cần giải quyết: "><i class="fa fa-angle-double-right"></i>Email: siltv3665@gmail.com</a></li>  
                                            <li><a href=""><i class="fa fa-angle-double-right"></i>Chợ Trà Mơn, Mỹ Hòa Hưng, Tp.Long Xuyên, An Giang</a></li>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412.4742327549218!2d105.43117324074807!3d10.410585696188116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a731d5cb40547%3A0xfa45dd2d762e142a!2zQ2jhu6MgVHLDoCBNxqFu!5e0!3m2!1svi!2s!4v1716255414987!5m2!1svi!2s" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>